.app{

    .conteneur-acceuil{
        background-color: black;
        display: flex;
        justify-content: center;
        color: whitesmoke;

        position:relative;
        padding-bottom: 24px;

        &::before{
            content: "";
            position:absolute;
            width: 100%;
            height: 100px;
            bottom: -50px;
            left: 0;
            background-color: black;
            border-radius: 50%;
        }

        .acceuil{
            max-width: 100%;
            height: 80%;
        }
    }

}